<div class="container">
    <div class="card m-3">
        <h5 class="card-header">Add Entity</h5>
        <div class="card-body">
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" [mustMatch]="['password', 'confirmPassword']" novalidate>
                <div class="form-row">
                    <div class="form-group col-7">
                        <label>Entity Name</label>
                        <input type="text" name="name" class="form-control" [(ngModel)]="model.name" #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required>
                        <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                            <div *ngIf="name.errors.required">Name is required</div>
                        </div>
                    </div>
                    <div class="form-group col-5">
                        <label>Category</label>
                        <select class="form-control" name="category" [(ngModel)]="model.category" #category="ngModel" [ngClass]="{ 'is-invalid': f.submitted && category.invalid }" required>
                          <option [ngValue]="1">1</option>
                        </select>
                        <div *ngIf="f.submitted && category.invalid" class="invalid-feedback">
                            <div *ngIf="category.errors.required">Category is required</div>
                        </div>
                      </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-6">
                        <label>Manufacturer</label>
                        <input type="text" name="manufacturer" class="form-control" [(ngModel)]="model.manufacturer" #manufacturer="ngModel" [ngClass]="{ 'is-invalid': f.submitted && manufacturer.invalid }" required>
                        <div *ngIf="f.submitted && manufacturer.invalid" class="invalid-feedback">
                            <div *ngIf="manufacturer.errors.required">Manufacturer is required</div>
                        </div>
                    </div>
                    <div class="form-group col-2">
                        <label>Manufacturer Number</label>
                        <input type="text" name="manufacturerNum" class="form-control" [(ngModel)]="model.manufacturerNum" #manufacturerNum="ngModel" [ngClass]="{ 'is-invalid': f.submitted && manufacturerNum.invalid }" required>
                        <div *ngIf="f.submitted && manufacturerNum.invalid" class="invalid-feedback">
                            <div *ngIf="manufacturerNum.errors.required">Manufacturer Number is required</div>
                        </div>
                    </div>
                    <div class="form-group col-2">
                        <label>Quantity</label>
                        <input type="text" name="quantity" class="form-control" [(ngModel)]="model.quantity" #quantity="ngModel" [ngClass]="{ 'is-invalid': f.submitted && quantity.invalid }" required>
                        <div *ngIf="f.submitted && quantity.invalid" class="invalid-feedback">
                            <div *ngIf="quantity.errors.required">Quantity is required</div>
                        </div>
                    </div>
                    <div class="form-group col-2">
                        <label>Alert Number</label>
                        <input type="text" name="alertNum" class="form-control" [(ngModel)]="model.alertNum" #alertNum="ngModel" [ngClass]="{ 'is-invalid': f.submitted && alertNum.invalid }" required>
                        <div *ngIf="f.submitted && alertNum.invalid" class="invalid-feedback">
                            <div *ngIf="alertNum.errors.required">Alert Number is required</div>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <button class="btn btn-primary mr-1">Add</button>
                    <button class="btn btn-secondary" type="reset">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    
</div>